@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&family=Sacramento&display=swap");

#app {
  font-family: "Cormorant Garamond", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  position: relative;
}
* {
  margin: 0;
  left: 0;
  box-sizing: border-box;
}

#main-nav {
  padding: 30px;
}

#main-nav a {
  font-weight: bold;
  color: #a31d1e;
}

#main-nav a.router-link-exact-active {
  color: #f4c651;
}
